.sect-bg
{
  background-color: #ffc1d69e;
  height: 100vh;
}
.sect-spacer
{
  padding: 80px 0px;
}
.card-bg
{
  background-color: #fff;
}
.timer-bg
{
  background-color: lightblue;
}

button{
display: inline-block;
outline: 0;
border: none;
cursor: pointer;
font-weight: 600;
border-radius: 4px;
font-size: 13px;
height: 30px;
background-color: #0000000d;
color: #0e0e10;
padding: 0 20px;
}
button:hover {
    background-color: #0000001a;
}
.vl
{
  border-left: 3px solid rgb(156, 219, 240);
  height: 30px;
}
.button-2
{ 
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  height: 34px;
  padding: 0 13px;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  background: transparent;
  border-color: lightblue;
  color: lightskyblue;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 11px;  
}
.button-2:hover {
  background: lightblue;
  color: #0e0e10;
}
.button-1
{
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color .17s ease,color .17s ease;
}
.button-1:hover {
  background-color: rgb(71, 82, 196);
}
/* timper */

*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.clock:before,
.count:after{
  content:'';
  position:absolute;
}
.clock-wrap{
  margin:auto;
  width:240px;
  height:240px;
  position:relative;
  border-radius:50px;
  background-color:#fff;
  box-shadow:0 0 15px rgba(0,0,0,.15);
}
.clock{
  top:50%;
  left:50%;
  width:180px;
  height:180px;
  border-radius:50%;
  position:absolute;
  margin-top:-90px;
  margin-left:-90px;
  background-color:#feeff4;
}
.clock:before{
  top:50%;
  left:50%;
  width:120px;
  height:120px;
  margin-top:-60px;
  margin-left:-60px;
  border-radius:inherit;
  background-color:#ec366b;
  box-shadow:0 0 15px rgba(0,0,0,.15), 0 0 3px rgba(255,255,255,.75) inset;
  /*border:1px solid rgba(255,255,255,.1);*/
}
.count{
  width:100%;
  color:#fff;
  height:100%;
  padding:50px;
  font-size:32px;
  font-weight:500;
  line-height:50px;
  position:absolute;
  text-align:center;
}
.count:after{
  width:100%;
  display:block;
  font-size:18px;
  font-weight:300;
  line-height:18px;
  text-align:center;
  position:relative;
}
.count.sec:after{content:'sec'}
.count.min:after{content:'min'}
.action{
  margin:auto;
  max-width:200px;
}
.action .input{
  position:relative;
}
.action .input-num{
  width:100%;
  border:none;
  padding:12px;
  border-radius:60px;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
}
.action .input-btn{
  top:0;
  right:0;
  color:#fff;
  border:none;
  border:none;
  padding:12px;
  position:absolute;
  border-radius:60px;
  background-color:#ec366b;
  text-transform:uppercase;
}
.tbl{display:table;width:100%}
.tbl .col{display:table-cell}